:root {
  --clr-purple-50: hsl(260, 100%, 95%);
  --clr-purple-300: hsl(264, 82%, 80%);
  --clr-purple-500: hsl(263, 55%, 52%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-grey-100: hsl(214, 17%, 92%);
  --clr-grey-200: hsl(0, 0%, 81%);
  --clr-grey-400: hsl(224, 10%, 45%);
  --clr-grey-500: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(219, 29%, 14%);
  --clr-black: hsl(0, 0%, 7%);
}

html {
  /* 10 / 16 x 100 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

.sr-only {
  position: absolute; /* Take the element out of the normal flow */
  width: 1px; /* Set width to 1px to make the element as small as possible */
  height: 1px; /* Set height to 1px */
  margin: -1px; /* Avoid any extra space */
  padding: 0; /* Remove padding */
  border: 0; /* Remove any border */
  clip: rect(
    0,
    0,
    0,
    0
  ); /* Clip the element to the smallest possible rectangle */
  overflow: hidden; /* Hide the content */
  white-space: nowrap; /* Prevent wrapping of content */
}

.wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100dvh;
}

.testimonials {
  margin: auto;
  width: 305px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial {
  border-radius: 15px;
  padding: 32px;
  box-shadow: 0px 22px 70px 4px rgba(0, 0, 0, 0.3);
}

.testimonial figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

.testimonial figure img {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.testimonial figure figcaption cite {
  font-weight: 500;
}

.testimonial figure figcaption p {
  font-size: 1.1rem;
  font-weight: 500;
}

.testimonial blockquote p {
  margin-top: 16px;
}

.testimonial blockquote p:first-child strong {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
}

.testimonial blockquote p:last-child {
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 500;
}

.testimonial--daniel {
  grid-area: daniel;
  background-color: var(--clr-purple-500);
  color: var(--clr-white);
}

.testimonial--daniel blockquote p:last-child {
  color: var(--clr-purple-50);
}

.testimonial--daniel figure img {
  box-shadow: 1px 1px 10px var(--clr-purple-300);
}

.testimonial--jonathan {
  grid-area: jonathan;
  background-color: var(--clr-grey-500);
  color: var(--clr-white);
}

.testimonial--jonathan figure img {
  box-shadow: 1px 1px 10px var(--clr-grey-200);
}

.testimonial--jonathan figcaption p {
  color: var(--clr-grey-300);
}

.testimonial--jonathan blockquote p:last-child {
  color: var(--clr-grey-100);
}

.testimonial--jeanette {
  grid-area: jeanette;
  background-color: var(--clr-white);
  color: var(--clr-grey-500);
}

.testimonial--jeanette figure img {
  box-shadow: 1px 1px 10px var(--clr-grey-400);
}

.testimonial--jeanette blockquote p:last-child {
  color: var(--clr-grey-400);
}

.testimonial--patrick {
  grid-area: patrick;
  background-color: var(--clr-dark-blue);
  color: var(--clr-grey-200);
}

.testimonial--patrick figure img {
  box-shadow: 1px 1px 10px var(--clr-grey-200);
}

.testimonial--patrick figcaption {
  color: var(--clr-white);
}

.testimonial--patrick blockquote p:first-child {
  color: var(--clr-grey-200);
}

.testimonial--patrick blockquote p:last-child {
  color: var(--clr-grey-100);
}

.testimonial--kira {
  grid-area: kira;
  background-color: var(--clr-white);
  color: var(--clr-grey-500);
}

.testimonial--kira figure img {
  box-shadow: 1px 1px 10px var(--clr-grey-400);
}

.testimonial--kira figcaption p {
  color: var(--clr-grey-300);
}

.testimonial--kira blockquote p:last-child {
  color: var(--clr-grey-400);
}

@media screen and (min-width: 768px) {
  .testimonials {
    width: fit-content;
    max-width: 647px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "daniel ."
      "jonathan jeanette"
      "patrick ."
      "kira .";
    gap: 32px;
  }

  .testimonial--daniel,
  .testimonial--patrick,
  .testimonial--kira {
    grid-column: span 2;
  }

  .testimonial--daniel {
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 71% 0;
    background-size: 110px 110px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials {
    max-width: 1102px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "daniel . jonathan kira"
      "jeanette patrick . .";
  }

  .testimonial--kira {
    grid-column: span 1;
    grid-row: span 2;
  }

  .testimonial--patrick {
    grid-column: span 2;
  }

  .testimonial--daniel {
    background-position: 87% 0;
  }
}
